/* Home Carousel */
.owl-carousel .item {
	width: 100%;
	height: 500px;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.50);

	& h1 {
        font-weight: 700;
        font-size: 4em;
        text-transform: uppercase;
		line-height: 1;
		width: 90%;

		& a {
			color: white;
			text-decoration: none;
			z-index: 2000;

			&:hover {
				color: $highlight-color;
			}
		}
    }
    & h4 {
        font-weight: 500;
        font-size: 1.25em;
        margin-top: 8px;
		max-width: 800px;
		color: white;
    }
}
.owl-global {
	background: url('../img/global-markets.jpg') center no-repeat;
	background-size: cover;
}
.owl-investment {
	background: url('../img/investment-banking.jpg') center no-repeat;
	background-size: cover;
}
.owl-commodities {
	background: url('../img/commodities.jpg') center no-repeat;
	background-size: cover;
}
.owl-buy {
	background: url('../img/buy-side.jpg') center no-repeat;
	background-size: cover;
}
.owl-legal {
	background: url('../img/legal-regulatory.jpg') center no-repeat;
	background-size: cover;
}

.owl-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 100px;
	top: -300px;
	position: relative;
}
button.owl-next, button.owl-prev {
	z-index: 1000;
	height: 100px;
	width: 78px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $primary-color !important;
	color: white !important;
	font-size: 3em !important;
	font-family: $primary-font !important;
	font-weight: 300 !important;
}
.owl-dots {
	display: none;
}
.carousel-margin {
	margin-top: 0px;
}

/* Individual Staff Pages */
.staff-banner {
	width: 100%;
	height: 250px;
	background-color: rgba(225,229,232,0.125);
	border-top: 1px solid $primary-color;
	border-bottom: 1px solid $primary-color;
	padding: 0px 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	& img {
		height: 250px;
		width: auto;
	}

	& .profile {
		
		& h1 {
			color: $highlight-color;
			font-size: 1.5em;
			font-weight: 500;
		}
		& h3 {
			color: $primary-color;
			margin-top: 1em;
			font-size: 1.25em;
		}
	}
} 
.staff-profile {
	width: 100%;
	padding: 2em 5%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

	& .staff-profile--content {
		width: 60%;
		font-weight: 300;

		& p {
			margin-bottom: 1em;

			&:last-of-type {
				margin-bottom: none;
			}
		}

		& button {
			background: $primary-color;
			height: 50px;
			padding: 0.5em 3em;
			border-radius: 4px;
			border: none;
			margin-bottom: 1em;

			&:hover {
				background: $tertiary-color;
			}

			& a {
				color: white;
				text-decoration: none;
				font-size: 1.25em;
    			height: 30px;
    			text-align: center;
			}
		}
	}
	& .staff-profile--experience {
		margin-left: 5%;
		width: 35%;

		& h2 {
			font-size: 1.15em;
			color: $secondary-color;
			margin-bottom: 1em;
		}

		& ul {
			list-style: none;
			margin-left: 1.25em;

			& li {
				margin-bottom: 1em;

				& a {
					color: $primary-color;
					text-decoration: none;
					font-size: 1.25em;
		
					&:hover {
						color: $highlight-color;
					}
				}
			}
		}
	}
}

/* Team Carousel */
section#carousel {
	width: 100%;
	height: 100%;
}
.ca-container{
	position:relative;
	margin: 40px auto;
	width: 700px;
	height:550px;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:340px;
	height:100%;
	text-align:center;
}

.ca-item-main{
	padding: 15px;
	position:absolute;
	top:5px;
	left:40px;
	right:5px;
	background: transparent;
	overflow:hidden;
}
.ca-icon {
	width: 100%;
	height: 200px;
	position:relative;
	margin: 10px auto;
	border: 2px solid rgb(221,204,107);
}
.ca-icon img {
	width: 100%;
	height: 100%;
}
.ca-icon img a {
	border: none;
}
.ca-item h3 {
	margin: 0;
	margin: 0.25em 0;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: 500;
	font-style: normal;
	color: rgb(135,153,164);
	text-align: left;
}
.ca-item h3 a {
	text-decoration: none;
	color: rgb(135,153,164);
}
.ca-item h4 {
	margin: 0;
	color: rgb(124,109,99);
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 400;
	font-style: normal;
	text-align: left;
}
.ca-item p {
	font-size: 0.8125em;
	text-align: left;
	color: #000;
}

.ca-item h4  span.ca-quote{
	color:#f4eee3;
	font-size:100px;
	position:absolute;
	top:20px;
	left:0px;
	text-indent:0px;
}

.ca-nav span{
	width:25px;
	height:38px;
	background: transparent url("../img/arrows.png") no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-40px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}

/* The Team */
.team--search {
	padding: 1em 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background: $primary-color;
	border-bottom: 1px solid $tertiary-color;

	& input[type="text"] {
		border: 1px solid $tertiary-color;
		-webkit-appearance: none;
		-moz-appearance: none;
		font-size: 1em;
		color: $primary-color;
		font-weight: 300;
		padding: 8px;
		width: 300px;
		margin-right: 1em;
	}
	& select {
		border: 1px solid $tertiary-color;
		font-size: 1em;
		color: $primary-color;
		font-weight: 300;
		padding: 8px;
		height: 37px;
		margin-right: 1em;
	}
	& ::-webkit-input-placeholder {
		color: $primary-color;
	}
	& ::-moz-placeholder {
		color: $primary-color;
	}
	& :-ms-input-placeholder {
		color: $primary-color;
	}
	& :-moz-placeholder {
		color: $primary-color;
	}
	& input[type="submit"] {
		background: $tertiary-color;
		color: white;
		border: 1px solid #fff;
		text-transform: uppercase;
		text-align: center;
		font-size: 1em;
		padding: 0.5em 2em;
	}
}

/* Offices */
.office--locations {
	width: 90%;
	margin: 32px 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	& .office--location {
		width: 400px;
		height: auto;
		padding-bottom: 32px;

		& .office--location__image {
			width: 100%;
			max-width: 400px;
			height: auto;
			margin-bottom: 24px;

			& img {
				width: 100%;
				height: auto;
				border: 4px solid $highlight-color;
			}
		}
		& .office--location__content {
			font-weight: 300;
			color: black;

			& h3 {
				font-size: 1.5em;
				color: $primary-color;
			}
			& p {
				margin: 8px 0px;
			}
			& a {
				color: $primary-color;
				text-decoration: none;
				margin: 16px 0px;

				&:hover {
					color: $highlight-color;
				}
			}
		}
	}
}