/* Raleway Font Import */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700');

/* Colours */
$primary-color: rgba(135,153,165,1);
$primary-color-light: rgba(135,153,165,0.5);
$secondary-color: rgba(124,109,99,1);
$tertiary-color: rgba(5,61,74,1);
$highlight-color: rgba(221,204,107,1);

/* Font */
$primary-font: 'Raleway', Helvetica, Arial, sans-serif;